@import 'variables';

* {
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;

  @media (max-width: $phone-breakpoint) {
    font-size: 7px;
  }
}

body {
  background-color: $dark-gray;
  line-height: 1.2;
  color: $white;
}

button {
  cursor: pointer;
  color: $white;

  &:disabled {
    cursor: not-allowed;
  }

  &.rounded-box {
    color: $white;
    border: 1px solid $white;
  }
}

textarea.rounded-box {
  color: $white;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 1.6rem;
  margin: auto;
}

.rounded-box {
  padding: 1.6rem;
  background-color: $gray;
  border-radius: 0.8rem;
  border: none;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
